.emaildate {
    
}

.listitems {
    background-color:rgb(255, 255, 255);
    float:left; 
    margin-left: 100px;
    padding-left: 20px;
    width:400px; 
    height:1000px;
    
    overflow:scroll;
    position: relative;

    /* border:solid grey;  */
}

.item {
    padding: 10px 10px;
    margin: 5px 5px;
    border-radius:10px;
    height:80px;

    float:left;
    position: relative;
    overflow: hidden;
    background-color:#D0D0D0;
    opacity: 0.6;
}

.item:hover {
    background-color: grey;
    height: auto;
    opacity: 1.0
}

.joy {
    color: blue;
}
.sadness {
    color: green;
}
.analytical {
    color: red;
}
.tentative {
    color: orange;
}
.confident {
    color: purple;
}


.content {
    float: left;
    margin-left: 50px;
}

.linecharts {
    /* background-color: green; */
    float:left; 
    margin-left: 100px;
    padding-right: 50px;
    /* width:900px; */
    height:500px;
    background-color:white;  
    /* border:solid red;  */
}

/* .piecharts {
    margin-left: 100px;

    background-color: white;
    border:solid green;
} */

.spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

svg path,
svg rect{
  fill: #FF6700;
}