.emaildate {
    
}

.listitems {
    background-color:rgb(255, 255, 255);
    
    float:left; 
    margin-left: 30px;
    padding-left: 20px;
    width: 25%; 
    height:1000px;
    
    overflow:scroll;
    position: relative;

    border:solid grey; 
}


.content {
    float: left;
    
    width: 48%;

    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

    padding-left: 10px;
    padding-right: 10px;


    border:solid red; 

}

.linecharts {
    /* background-color: green; */
    float:left; 

    padding: 10px;
    margin: 10px;
    /* margin-left: 10px;
    padding-right: 50px; */
    /* width:900px; */
    height:auto;
    background-color:white;  

    /* border:solid red;  */
}

/* .piecharts {
    margin-left: 100px;

    background-color: white;
    border:solid green;
} */



.item {
    padding: 10px 10px;
    margin: 5px 5px;
    border-radius:10px;
    height:80px;

    float:left;
    position: relative;
    overflow: hidden;
    background-color:#D0D0D0;
    opacity: 0.6;
}

.item:hover {
    background-color: grey;
    height: auto;
    opacity: 1.0
}

.joy {
    color: blue;
}
.sadness {
    color: green;
}
.analytical {
    color: red;
}
.tentative {
    color: orange;
}
.confident {
    color: purple;
}


svg path,
svg rect{
  fill: #FF6700;
}